@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
:root{
	--color-light:rgb(244, 244, 244);
	--color-dark:rgb(23, 25, 35);
	--color-gray:rgb(150, 150, 150);
	--color-primary:rgb(31, 139, 255);
	--color-secondary:rgb(117, 188, 238);
	--color-terciary:rgb(37, 37, 37);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar{
	width: 8px;
	height: 16px;
	background:transparent;

}
::-webkit-scrollbar-thumb{
	background-color: var(--color-primary);
	border-radius: 10px;
}
::-webkit-scrollbar-track{
	background:transparent;
}